[Unit]
Description=install local livenet
Requires=display-manager.service
After=display-manager.service
ConditionPathExists=/ro/bin

[Service]
Type=oneshot
ExecStart=/usr/bin/ln-client --install-with-gui
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
